{% extends 'base.html.twig' %}

{% block title %}
    Create New Contact
{% endblock %}

{% block body %}
    <div class="card shadow-sm mt-5 mb-5 rounded">
        <div class="card-body">
            <h2 class="card-title">Ajouter un nouveau contact</h2>
            {{ form_start(form, {attr: {class: 'ms-3', action: path('security_register_employee_command'), 'method': 'POST'}}) }}
            <div class="row">
                {{ form_row(form.username, {attr: {class: 'form-control'}}) }}
                {{ form_row(form.business_unit, {attr: {class: 'form-control'}}) }}

                <button type="submit" class="btn btn-primary form-control mt-5"><i class="fa-solid fa-check"></i>Valider
                </button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
